/*
Theme Name: ELO eSports
Theme URI: http://eloesports.com
Author: Daniel Cueto
Author URI: http://dcueto.me
Description: Tema personalizado exclusivamente para la página de eloesports.com
Version: 1.0
*/

@import "fonts.styl"

html
  margin 0
  padding 0
  font-family 'Roboto', sans-serif


body
  margin 0
  padding 0
  background white !important
  text-align center

.main-header
  position fixed
  width 100%
  height 45px
  z-index 10
  box-shadow 0px 0px 5px black
  background-color #144794
  .header-left
    width 60px
    height 100%
    position absolute
    z-index -1
    background-color #333333
    display flex
    align-items center
    justify-content center
    
    .menu-icon
      font-size 30px
      color white
      width 50%
  .wrap-header
    height 100%
    display flex
  
  .logo
    canvas
      display none

  .nav
    display none
    background-color #0048b5
    color #0048b5
    width 100%
    align-items center
    margin-left 50px
    
    
  .logo-title
    display none


.container
  color white
  padding-top 45px
  background-color white
  
.menu
  display flex
  list-style none
  align-items center
  margin 0
  ul
    margin 0
    display flex
    
  li
    margin 0 20px
    font-size 18px
    font-weight 500
    list-style none
    a
      text-decoration none
      color #b9b9b9
      padding-bottom 8px
      //text-transform uppercase
    :hover
      color white
      border-bottom 3px solid white

.featured
    width 100%
    height 250px
    overflow hidden
    margin 0 auto 10px auto
    text-transform uppercase
    &-main
      height 100%
      width 100%
      &-article
        height 100%
        position relative
        &-image
          height 100%
          img
            height auto
            width 100%
        &-bottom
          position absolute
          bottom 0
          width 100%
          //height 20%
          background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 16%, rgba(0,0,0,1) 100%)
          text-align left
          font-size 26px
          font-family 'Antonio'
          font-weight normal
          p
            padding-top 20px
            //position absolute
            //bottom 0
            margin 0 0 15px 10px
    &-secondary
      display none
      height 217px
      a
        width 100%
      &-article
        width 100%
        height 100%
        overflow hidden
        position relative
        &-image
          height auto
          img
            width 100%
            height auto
        &-bottom
          position absolute
          bottom 0
          
    figure
      margin 0
    a
      color white
  

footer
  background-color gray
  width 100%
  height 300px


// Smartphones horizontal

@media screen and (min-width: 640px)
  .featured
    height 350px


// Tablets

@media screen and (min-width:800px)
  .featured
    height auto
    flex-direction column
    
    &-main
      height 300px
      overflow hidden
    &-secondary
      display flex
      height 217px
      a
        width 50%
      &-article
        width 100%
        height 100%
        overflow hidden
        &-image
          height auto
          img
            width 100%
            height auto
        &-bottom
          width 100%
          //height 30%
          background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 16%, rgba(0,0,0,1) 100%)
          text-align left
          font-family 'Antonio'
          font-size 22px
          p
            padding-top 20px
            //position absolute
            //bottom 0
            margin 0 0 10px 10px
      


// Tablets horizontal

@media screen and (min-width: 950px)
  .featured
    margin-top 20px
    width 95%
    height 332px
    display flex
    flex-direction row !important
    
    &-main
      width 100%
      height 100%
    
    &-secondary
      width 60%
      height 100%
      display flex
      flex-direction column
      a
        width 100%
        height 50%
      &-article
        height 100%


// Desktop pequeños

@media screen and (min-width: 1079px)
  .featured
    width 889px
    height 331px
    
    &-main
      width 591px
    
    &-secondary
      width 296px


// Desktop

@media screen and (min-width: 1080px) and (max-width: 1149px)
  .featured
    width 930px
    height 347px
    
    &-main
      width 619px
      &-article-bottom
        font-size 28px
    
    &-secondary
      width 309px
      &-article-bottom
        font-size 19px
      

// Desktop medianos

@media screen and (min-width: 1150px)

  .nav
    display flex
  
  .logo-title
    display block
  .featured
    width 1102px
    height 410px
    display flex
    
    &-main
      width 734px
      &-article
        width 100%
        height 100%
        overflow hidden
        position relative
        &-image
          margin 0 
          img
            width 100%
            height auto   
    &-secondary
      width 367px
      &-article
        height 100%
        overflow hidden
        position relative
        &-image
          margin 0
          height 100%
          img
            width 100%
            height auto !important
        &-bottom
          position absolute
          bottom 0
          width 100%
          //height 30%
          background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 16%, rgba(0,0,0,1) 100%)
          text-align left
          font-weight 400
          p
            padding-top 20px
            //position absolute
            //bottom 0
            margin 0 0 10px 10px
            
        
    /*
    &-main-article-image img
      display none
    &-secondary-article-image img
      display none
    */
      


// Desktop grandes

@media screen and (min-width: 1440px)
    
    .header-left
      width 50%
      height 100%
      position absolute
      z-index -1
      background-color #333333
    .wrap-header
      width 1300px
      margin 0 auto
      
    .logo
      background-color #333333
      color white
      width 200px
      display flex
      align-items center
      &-title
        margin 0
        font-weight 400
        font-size 24px
        margin-right 20px
      canvas
        display none
    .wrap
      width 1300px
      padding 0px 30px 0 30px
      margin 0 auto
      box-shadow 0px 0px 5px grey
    
    .featured
      background black
      margin 0 auto 70px auto
      padding 1px
      display flex
      width 1300px
      height 487px
      color white
    
      &-main
        width 866px
        &-article
          width 100%
          height 100%
          overflow hidden
          position relative
          &-image
            margin 0 
            img
              width 100%
              height auto !important
            
          &-bottom
            position absolute
            bottom 0
            width 100%
            //height 20%
            background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 16%, rgba(0,0,0,1) 100%)
            text-align left
            font-weight 500 !important
            font-size 24px
            color white
            p
              padding-top 20px
              text-transform uppercase
              //position absolute
              //bottom 0
              margin 0 0 15px 18px
              color white
    
      &-secondary
        width 434px
        &-article
          height 50%
          overflow hidden
          position relative
          &-image
            margin 0
            height 100%
            img
              width 100%
              height auto !important
          &-bottom
            position absolute
            bottom 0
            width 100%
            //height 30%
            background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 16%, rgba(0,0,0,1) 100%)
            text-align left
            font-weight 400
            font-size 16px
            p
              padding-top 20px
              text-transform uppercase
              //position absolute
              //bottom 0
              margin 0 0 10px 10px
            
    .featured-articles 
      display flex
      flex-wrap wrap
      justify-content space-between
      .article
        width 420px
        text-align left
        border 1px solid lightgrey
        height 100%
        flex-shrink 0
        align-self auto
        margin 10px 0px
        border-radius 2px
        max-height 461px
        min-height 154px
        overflow hidden
        position relative
        &-info
          display flex
          justify-content space-between
        &-content
          &-title
            text-transform uppercase
            color #333333
            font-weight 500
          &-container
            &-description
              color grey
              height 100%;
            
        a
          display block
          width 100%
          height 100%
          text-decoration none
        .blur-bottom
          position absolute
          bottom 0
          width 100%
          height 100px
          background-image linear-gradient(to bottom, rgba(255,255,255,0) 20%, #FFF 100%)
        

    .article-info
      padding 7px 0
      font-weight 600
      color #4D4D4D
      font-size 17px
      &-cat
        margin 0
        margin-left 10px
      &-date
        margin 0
        margin-right 10px
    .article-thumb
      margin 0
      width 100%
      img
        width 100%
        height auto
    .article-content
      margin 8px 10px
      &-container
        &-title
          margin 0
          font-weight 500
          font-size 20px

      